#btnPicker:hover {
    color: var(--primary-hover);
    cursor: pointer;
}

.img-responsive {
    max-height: 20rem;
}

.fa-calendar-day {
    cursor: pointer;
}
.fa-calendar-day:hover {
    color: var(--primary-hover);
}
.link {
    text-decoration: none !important;
}
.link:hover {
    color: var(--primary);
}
/*Media PC*/

@media (min-width: 768px) {
    #barcos-banner {
        background: black url(/img/img-barcos-1.jpg) center no-repeat;
        background-position: 100% 35%;
        background-attachment: fixed;
        background-size: 100%;
        min-height: 300px;
        max-height: 600px;
    }
    /* Mostramos los botones para la vista pc */
    #iconosBarcos>div {
        display: block;
        cursor: pointer;
    }
    #barcos-dropDownIconos {
        display: none;
    }
    /* Ajustar la imagen por los bordes */
    .containerBanner {
        padding: 0px!important;
    }
    .cards {
        display: flex;
        margin: 20px 0;
        min-height: 400px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: -1rem;
    }
    .cards>.card {
        width: 240px;
        height: 150px;
        margin: 0 10px;
    }
    .active {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .active .barcos-capa-icono {
        display: none;
    }
    .collapse {
        display: flex;
        flex-flow: column wrap !important;
        align-items: center !important;
    }
    #buscaBarco {
        width: 8rem;
    }
}

/* Media movil */

@media (max-width: 768px) {
    #barcos-banner {
        background: black url(/img/img-barcos-1.jpg) center no-repeat;
        background-position: 100% 35%;
        background-size: 100% 100%;
        background-attachment: fixed;
        min-height: 300px;
        max-height: 600px;
        padding: 0%;
    }
    /* Hidden a los elementos del div que contiene los iconos */
    #iconosBarcos>div {
        display: none;
    }
    #barcos-dropDownIconos {
        position: absolute;
        top: 110px;
        left: 20px;
    }
    /* Estilos hover de la lista de iconos */
    .dropdown-item:hover {
        color: #16181b;
        text-decoration: none;
        background-color: #2098D1!important;
    }
    .containerBanner {
        padding: 0px !important;
    }
    .cards {
        display: grid;
        margin-top: 1rem;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        margin-bottom: 1rem;
    }
    .title .show {
        display: grid;
    }
}

.elegido {
    color: orange;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
    background-color: #2098D1!important;
    border: 1px solid #2098D1;
    border-radius: 5px;
}

#barcos-banner img {
    object-fit: cover;
}

.barcos-capa-icono {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.barcos-capa-icono:hover {
    opacity: 0;
    transition: opacity 0.8s;
}

.barcos-cartas p, .barcos-cartas h5 {
    color: black;
}

.hvr-underline-from-right {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

/* Linea desde el centro hacia los lados */

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
}

.img-thumbnail {
    border: 0px!important;
    background-color: transparent !important;
}

.pictos .fas {
    color: var(--negro);
    font-size: 1.5rem;
    margin: 0 .3rem;
    cursor: pointer;
}