/*Variables*/


/*
:root {
    --negro: #3f3c3c;
    --blanco: #f7fbfc;
    --primary: #a2eae2;
    --primary-hover: #41aaa8;
    --accent: #105e62;
    --third: #b5525c;
}

*/


/* Para pc */

@media (min-width: 768px) {
    #contactanos-banner {
        background: black url(/img/img-contactanos-3.jpg) center no-repeat;
        background-position: 100% 60%;
        background-size: 100%;
        min-height: 300px;
        max-height: 600px;
        padding: 0%;
        /* border-radius: 20px;*/
        /* box-shadow: 2px 2px 4px 2px;*/
    }
}


/* Para movil */

@media (max-width: 768px) {
    #contactanos-banner {
        background: black url(/img/img-contactanos-2.jpg) center no-repeat;
        background-position: 100% 25%;
        background-size: 100% 100%;
        min-height: 300px;
        max-height: 600px;
        padding: 0%;
        /* border-radius: 20px;*/
        /* box-shadow: 2px 2px 4px 2px;*/
    }
}


/* imagen cabecera */

.containerBanner {
    padding: 0px!important;
}

#contactanos-formulario {
    border: 1px solid var(--third);
    margin: 0px auto auto 0px;
    background-color: var(--negro);
    color: var(--blanco);
    border-radius: 5px;
}

#barcos-formulario-first-child {
    margin: 20px auto auto 0px;
}

#btnFormularioContactanos {
    background-color: var(--blanco);
    margin-bottom: 10px;
}

#btnFormularioContactanos:hover {
    background-color: var(--primary-hover);
    color: var(--blanco);
}

#tituloContactanos {
    margin: 40px 0px 0px 0px;
}