@import url("https://fonts.googleapis.com/css?family=Baloo+Bhai&display=swap");
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}
.fadeIn {
  animation-name: fadeIn;
}

.fadeOut {
  animation-name: fadeOut;
}

.zoomOut {
  animation-name: zoomOut;
}

.zoomIn {
  animation-name: zoomIn;
}

.filtr-elem {
  animation-fill-mode: both;
}
.filtr-elem.duration-1 {
  animation-duration: 1s;
}
.filtr-elem.duration-2 {
  animation-duration: 2s;
}
.filtr-elem.duration-3 {
  animation-duration: 3s;
}
.filtr-elem.dnone {
  display: none;
}