:root {
    --negro: #3f3c3c;
    --blanco: #f7fbfc;
    --primary: #083358;
    --primary-hover: #fc3c3c;
    --accent: #0f4471;
    --third: #f6f6f6;
    --gradient-sea: linear-gradient(-225deg, #288962 0%, #2c5b82 100%);
    --yate-inicio: url('../img/img-inicio-1.jpg');
    --yate: url('../img/img-inicio-2.jpg');
    --velero: url('../img/img-inicio-3.jpg');
    --catamaran: url('../img/img-inicio-4.jpg');
    --goleta: url('../img/img-inicio-5.jpg');
    --radius-main: .5rem;
    --busca: url('../img/img-inicio-8.png');
    --paga: url('../img/img-inicio-6.png');
    --disfruta: url('../img/img-inicio-7.png');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.form-control {
    width: 100% !important;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 12vh;
    padding: 0% 20px;
    transition: all 1s;
}

.nav-links {
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 100px;
    padding: 0px;
    margin: 0px;
    transition: all 1s;
    transition-timing-function: ease-in-out;
}

.nav-links li {
    list-style: none;
    margin: 8px auto;
}

.nav-links a, .foot-links a, .user-links a {
    color: var(--blanco);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover, .foot-links a:hover, .user-links a:hover, .dropdown-item:hover p {
    color: var(--primary-hover);
}

.user-nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.user-nav li {
    list-style: none;
}

.nav-secondary {
    background-color: var(--accent);
    min-height: calc(100vh - 12vh);
    display: flex;
    flex-flow: column wrap;
}

.user-links li {
    margin: 50px 0;
}

.user-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    height: 90%;
    text-align: center;
}

.dropdown-item>p {
    color: var(--negro);
}

.dropdown-menu-center {
    left: 50% !important;
    top: 35px !important;
    right: auto !important;
    text-align: center !important;
    transform: translate(-50%, 0) !important;
}

.fa-bars {
    color: var(--blanco);
    cursor: pointer;
}

.btn-success, .btn-warning, .btn-danger {
    color: var(--blanco) !important;
    padding: 15px 30px;
    font-size: 1.2rem !important;
    font-weight: bold !important;
}

.btn-warning {
    background-color: var(--warning) !important;
}

.btn-success {
    background-color: var(--primary) !important;
    border: 1px solid #ced4da !important;
}

.btn-success:active, .btn-success:focus {
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important;
}

.btn-warning:active, .btn-warning:focus {
    border-color: #e1e44d !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25) !important;
}

.btn-success:hover {
    color: var(--primary-hover) !important;
    background-color: var(--accent) !important;
}

.btn-warning:hover {
    color: var(--primary-hover) !important;
    background-color: #fafd41 !important;
}

.fa-linkedin:hover {
    background-color: #0073b0 !important;
}

.fa-twitter-square:hover {
    background-color: #1da1f2 !important;
}

.fa-instagram:hover {
    background: #d6249f !important;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%) !important;
}

.fa-facebook-square:hover {
    background-color: #3c5a99 !important;
}

.foot-container {
    height: 200px;
    background-color: #083358;
    padding: 0px !important;
    color: var(--blanco);
    background-color: var(--negro);
}

.foot-nav {
    padding: 10px;
}

.foot-links {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0px;
    flex-flow: column wrap;
}

#goUp {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 10;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--third);
    color: var(--negro);
    cursor: pointer;
    padding: 10px;
    border-radius: var(--radius-main);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .5) !important;
}

#goUp:hover {
    background-color: var(--primary-hover);
    color: var(--blanco);
}

.main-body {
    padding: 2rem !important;
}

.media-footer {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

.footiconos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.footiconos>.fab {
    color: var(--blanco) !important;
    border: 1px solid #9b9b9b;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: var(--radius-main);
    margin: 5px;
}

.iconos>.fab {
    color: var(--blanco) !important;
    border: 1px solid #9b9b9b;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--primary);
    border-radius: var(--radius-main);
    box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    margin: 10px 30px;
}

#FormAS01 {background: #FFFFFF;padding: 45px;text-align: center;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);}
#FormAS01 h3 {margin-bottom: 30px;}
#FormAS01 .logInput {outline: 0;background-color: #f2f2f2;width: 100%;border: 0;padding: 15px;font-size: 16px;border-radius: .25rem !important;}
#FormAS01 .pass {display: inline-flex;width: 100%;}
#FormAS01 .pass input {width: 85%;}
#FormAS01 .pass i {width: 10%;height: 2.5rem;line-height: 40px;margin-left: 5%;background-color: #666666;color: #fff;font-size: 20px;
cursor: pointer;display: flex;justify-content: center;align-items: center;border-radius: .25rem;}
#FormAS01 button {text-transform: uppercase;background-color: var(--primary);width: 100%;padding: 15px;color: #FFFFFF;
font-size: 16px;cursor: pointer; transition: background-color 0.5s; border: none}
#FormAS01 button:hover, #FormAS01 button:active {background-color: var(--accent);}
#FormAS01 .message {margin: 15px 0 0;color: #545454;font-size: 14px;}
#FormAS01 a {color: var(--negro);text-decoration: none; transition: all .5s;}
#FormAS01 a:hover {color: var(--accent);}
#FormAS01 .register-form {display: none;}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
        right: 0px;
        min-height: calc(100% - 12vh);
        top: 12vh;
        background-color: var(--primary);
        min-width: 60%;
        flex-flow: column wrap;
        transform: translateX(100%);
        background-color: var(--accent);
        display: none;
    }
    .activeMenu {
        transform: translateX(0%);
        display: flex;
    }
    #goUp {
        display: none;
        opacity: 0;
    }
    .mini-user-nav {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    nav {
        width: 100%;
        z-index: 5;
        transition: all .5s;
        transition-timing-function: ease-in-out;
    }
    .nav-links {
        width: 100%;
        transform: translateX(0%);
        flex-flow: row wrap;
        height: 100%;
    }
    .fa-bars {
        display: none;
    }
    .noLetterSpace {
        text-decoration: none !important;
        letter-spacing: initial !important;
        color: var(--blanco);
    }
    .noLetterSpace-user-menu {
        color: var(--negro) !important;
    }
    .noLetterSpace-user-menu:hover, .noLetterSpace:hover {
        color: var(--primary-hover) !important;
    }
    .foot-icon {
        text-align: center;
    }
    .mini-user-nav {
        display: none;
    }
    .dropdown-menu-right {
        position: absolute;
        transform: translate3d(66vw, 50px, 0px) !important;
        top: 0px;
        left: 0px;
        will-change: transform;
    }
}