    /* Imagen Carousel */
    .img1 {
        height:300px;
        object-fit: cover;
        width: 100%
    }

    /*Contenedor Quien Somos */
    .contenedor {

        text-align: center;       
    }

    /*Imagen De perfil */

    .imgPerfil{
        width: 50%;
        display: table;
        margin: auto;
    }
    /*texto descriptivo */
    .descripcion {
        text-align: center;
    }

