.eleccion {
    min-height: 15rem;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    padding: 0 25px;
    border-radius: var(--radius-main);
    background-color: rgba(63, 60, 60, 0.2);
}

.eleccion-content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.eleccion-content-pass {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.eleccion-content img {
    padding-bottom: 1rem;
    width: 90%;
}

.eleccion-content .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    align-items: center;
    grid-row-gap: 30px;
}
.selects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

.card-select {
    cursor: pointer;
}

.is-active {
    box-shadow: 5px 5px 5px 0.5px rgba(63, 60, 60, .5);
}

.in-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}

.in-group .pass-info {
    height: 3rem;
    border-radius: var(--radius-main) !important;
    padding: 0 10px;
    border: 1px solid rgba(0,0,0,.125);
    outline: none;
}

.in-group .accBtn {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column nowrap;
}

.btn-success {
    cursor: pointer !important;
}

.card-title > *{
    cursor: pointer;
}

@media (max-width: 768px) {
    .eleccion-content .grid {
        min-height: 10rem;
    }

    .eleccion-content {
        flex-flow: column nowrap;
    }

    .eleccion-content .grid {
        grid-row-gap: 15px;
    }
}

@media (min-width: 768px) {
    .eleccion-content img {
        margin-right: 3rem;
        width: 30%;
    }
}