.cards {
    position: relative;
    height: 100%;
    min-height: 100vh;
}

.card {
    position: absolute;
    width: 30%;
    margin: auto 8px;
    border-radius: var(--radius-main) !important;
}

.card-text {
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--blanco)
}

.card-body {
    background-color: var(--primary) !important;
    border-radius: var(--radius-main) !important;
    color: var(--blanco);
    text-align: center;
}

.welcome-back {
    background-image: var(--yate-inicio);
    width: 100%;
    height: calc(100vh - 12vh);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-attachment: fixed;
}

.date {
    margin-right: 5px;
}

.fa-calendar-day {
    cursor: pointer;
    color: var(--blanco);
}

.fa-calendar-day:hover {
    color: var(--primary-hover);
}

.welcome-search {
    position: absolute;
    margin: auto;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ced4da !important;
    font-weight: bolder;
}

.welcome-search:hover {
    color: var(--negro);
    background-color: #fff;
}

.btn-group, .btn-group-vertical {
    width: 100%;
    background-color: #fff;
    border-radius: var(--radius-main);
    text-align: left;
    border: 1px solid #ced4da;
}

.dropdown-menu.show {
    width: 100%;
    user-select: none;
}

.btn-group-vertical>.btn, .btn-group>.btn {
    text-align: left;
}

.form-control {
    cursor: pointer !important;
}

.multiselect {
    display: flex !important;
    flex: 1 !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.social-network {
    height: 220px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.social-network>.iconos {
    display: flex;
    height: 50%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}
.yate {
    background-image: var(--yate);
}

.velero {
    background-image: var(--velero);
}

.catamaran {
    background-image: var(--catamaran);
}

.goleta {
    background-image: var(--goleta);
}

.barco-texto {
    background-image: var(--gradient-sea);
    padding: 20px;
}

.barco-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s;
}

.barco-texto, .barco-img {
    min-height: 250px;
}

.welcome-alquiler-container {
    display: flex;
    justify-content: center;
    min-height: 250px;
}

.welcome-alquiler {
    display: flex;
    justify-content: flex-start;
    position: absolute;
}

.proceso {
    width: calc(100% / 3);
    border: 2px solid #9b9b9b;
    border-radius: var(--radius-main);
    text-align: center;
    background-position: 50% 80%;
    background-size: 10rem;
    background-repeat: no-repeat;
}

.proceso:nth-child(-n+2)::after {
    position: relative;
    display: block;
    content: "";
    width: 50px;
    height: 50px;
    top: 40px;
    left: 100%;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid var(--primary);
}

.proceso-1 {
    background-image: var(--busca);
}

.proceso-2 {
    background-image: var(--paga);
}

.proceso-3 {
    background-image: var(--disfruta);
}

.welcome-container-search {
    min-height: calc(100vh - 12vh) !important;
}

.input-group-append {
    margin-top: -10px;
}

.alert {
    position: absolute !important;
    width: 100% !important;
}

@media (min-width: 768px) {
    .welcome-container-search {
        display: flex;
        flex-flow: column nowrap;
        margin: 0px auto;
    }
    .calPicker {
        max-width: 85%;
    }
    .barco {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }
    .barco-texto {
        border-top-left-radius: var(--radius-main);
        border-bottom-left-radius: var(--radius-main);
        padding-left: 30px !important;
    }
    .barco-img {
        border-top-right-radius: var(--radius-main);
        border-bottom-right-radius: var(--radius-main);
    }
    .barco-img:hover {
        transform: translateX(-20px);
        transform: scale(1.1);
    }
    .dropdown-menu {
        width: 20% !important;
    }
}

@media (max-width: 768px) {
    .welcome-container-search {
        padding: 0px !important;
    }
    .welcome-container {
        width: 100%;
        height: 100%;
        perspective: 1000px;
        overflow: hidden;
    }
    .rotate {
        width: 100%;
        height: 100%;
        position: relative;
        transition: transform 1s;
        transform-style: preserve-3d;
    }
    .face {
        position: absolute;
        height: 100%;
        width: 100%;
        backface-visibility: hidden;
    }
    .face-back {
        transform: rotateY( 180deg);
        background-color: rgba(255, 255, 255, 0.5);
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-column-gap: 20px;
        padding: 20px;
        height: 100%;
    }
    .welcome-mini-busca {
        color: var(--negro);
        height: 100%;
        align-items: center;
        justify-content: space-around;
        flex-flow: column wrap;
    }
    .welcome-mini-text {
        text-align: center;
        border: 1px solid #ced4da;
        border-radius: var(--radius-main);
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.5);
        color: #545454;
        -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
    }
    .welcome-mini-text>label {
        font-weight: bold;
        font-size: 1.2rem;
    }
    .is-flipped {
        transform: rotateY(180deg);
    }
    .is-flipped .welcome-mini-busca {
        transition-delay: .2s;
        opacity: 0 !important;
    }
    .social-network {
        height: 280px;
    }
    .barcos {
        margin-top: 2rem !important;
    }
    .barco {
        display: flex;
        flex-flow: column-reverse wrap;
    }
    .barco-texto {
        border-bottom-left-radius: var(--radius-main);
        border-bottom-right-radius: var(--radius-main);
    }
    .barco-img {
        border-top-left-radius: var(--radius-main);
        border-top-right-radius: var(--radius-main);
    }
    .proceso:nth-child(-n+2)::after {
        width: 10px;
        height: 10px;
        top: -10px;
        left: 100%;
    }
    .proceso {
        background-position: 50% 80%;
        background-size: 8rem;
    }
}