.seccion{
    border:1px solid black;
    background-color: var(--third);
    margin-bottom:20px;
    border-radius:10px;
    padding-bottom: 20px;
    padding: 25px;
}

.tarjetaBarcos{
    color: var(--negro);

}

.tarjetaBarcos h5{
    color: var(--negro);

}

.elegido {
    color: orange;
}

.botonesUserFavoritos{
    width:120px;
    height: 40px;
    border-radius: 10px;
    color: var(--blanco);
    background-color: var(--primary);
}

.botonesUserFavoritos:hover{
    background-color: var(--primary-hover);
}

.img-responsive{
    max-height: 20rem;
}

.card-body{
    color: var(--negro);
}
