.seccion{
    border:1px solid black;
    background-color: var(--third);
    margin-bottom:20px;
    border-radius:10px;
    padding: 25px;
}

#seleccionTarjeta{
    margin-left:0px;
    padding-right: 5px;
}

.numerosTarjeta{
    padding-left:1px!important;
    padding-right:1px!important;
}

#nombreTitular{
    margin-left:0px;
    padding-right: 5px; 
}

#mostrarOcultarSeccionTarjetaCredito>input[type=checkbox]{
    width:40px;
    height: 100px;
}

.buttonMisPagos{
    position: abosulte;
    top:25px;
}

