.seccion{
    border:1px solid black;
    background-color: var(--third);
    margin-bottom:20px;
    border-radius:10px;
    padding: 25px;
}

.botonesUserHome{
    width:120px;
    height: 40px;
    border-radius: 10px;
    color: var(--blanco);
    background-color: var(--primary);
}

#btnCambiaFotoUser{
    margin-top:10px;
}
.botonesUserHome:hover{
    background-color: var(--primary-hover);
}

.imagenPerfil img{
    width:200px;
    border: 5px;
    border-radius:50%;
}

.imagenPerfil{
    margin-bottom: 20px;
}

#userBtnModificarDatos{
    margin-bottom: 10px;
}

#formDatosPersonales{
    margin: 0px 10px 0px 10px;
}

#enviarContrasenya{
    margin-top:0px;
}

#formularioContrasenya:first-child{
    margin-left:5px;
}

#formularioContrasenya:last-child{
    margin-right:5px;
}

.pointer {cursor: pointer;}
