.seccion {
    border: 1px solid black;
    background-color: var(--third);
    margin-bottom: 20px;
    border-radius: 10px;
    padding:25px;
}

/* .rotar th {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
} */





