.seccion{
    border:1px solid black;
    background-color: var(--third);
    margin-bottom:20px;
    border-radius:10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top:10px;
}

.tarjetaBarcos, .tarjetaBarcos h5 {
    color: var(--negro);
    
}

.elegido {
    color: orange;
}

.imgBarcos {
    max-height: 20rem;
}

.tarjetaBarcos .card-body {

    color:#000;

}

.btn-success, .btn-danger {
    padding: .375rem .75rem !important;
}